
@{
    ViewBag.Title = "Encuesta ya Existe";
    Layout = "~/Views/Shared/_LayoutEncuestas.cshtml";
}
<body style="background-color: #95CBDE;">
    <div class="container text-center mt-5">
        <div class="card mb-4 py-3" style="background-color: #C6E1EA;">
            <h2>Ya se ha registrado una encuesta para este ticket.</h2>
            <h3>ADEX Marketing</h3>
        </div>

        <div>
            @*<img class="instituto col-md-2" src="~/Img/logo_adex_instituto.jpg" />*@
            <img class="instituto col-md-2" src="~/Img/help_desk_icon.png" />
            <img class="gremio col-md-5" src="~/Img/logo_adex.png" />
            @*<img class="gremio col-md-2" src="~/Img/logo_adex_azul.png" />
                <img class="instituto col-md-2" src="~/Img/logo_adex_ec.png" />*@
        </div>
    </div>
</body>


